<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Roadmap</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
</head>
<body>
  <div class="dashboard-wrapper">
    <div class="dashboard-content">
      <!-- Background Image -->
      <img src="{{ url_for('static', filename='images/dshbrdimg/dashboardbg.png') }}" alt="Dashboard Image"/>

      <!-- Image-Based Buttons -->
      <div class="dashboard-buttons">

        <!-- Subtraction Sands -->
        <div class="dashboard-btn-wrapper">
          <button class="dashboard-btn profile" onclick="startHoverEffect(this); window.location.href='#';"></button>
        </div>

          <!-- ADVENTURE -->
          <div class="dashboard-btn-wrapper">
            <a href="{{ url_for('roadmap') }}">
              <button class="dashboard-btn adventure"></button>
            </a>
          </div>

      
        <!-- Subtraction Sands -->
        <div class="dashboard-btn-wrapper">
          <button class="dashboard-btn collections" onclick="startHoverEffect(this); window.location.href='#';"></button>
        </div>

        <!-- Subtraction Sands -->
        <div class="dashboard-btn-wrapper">
          <button class="dashboard-btn monsters" onclick="startHoverEffect(this); window.location.href='#';"></button>
        </div>

        <!-- Subtraction Sands -->
        <div class="dashboard-btn-wrapper">
          <button class="dashboard-btn shop" onclick="startHoverEffect(this); window.location.href='#';"></button>
        </div>

        <!-- Subtraction Sands -->
        <div class="dashboard-btn-wrapper">
          <button class="dashboard-btn settings" onclick="startHoverEffect(this); window.location.href='#';"></button>
        </div>

      </div> <!-- .dashboard-buttons -->
    </div> <!-- .dashboard-content -->
  </div> <!-- .dashboard-wrapper -->



  
  
</body>
</html>
